*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat';
    color: white;
}

html,body{
    height: 100%;
    width: 100%;
}

#nav img{
    width: 75px;
}

#nav{
    height: 130px;
    width: 100%;
    display: flex;
    align-items:  center;
    gap: 50px;
    justify-items: flex-start;
    position: fixed;
    padding: 0 120px;
   z-index: 999;
}

#nav h4{
    text-transform: uppercase;
    font-weight: 500;
}

video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}
#main{
   position: relative;
   background-color: rgba(0, 0, 0, 0.228);
    
}

#page1{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;
}

#page1 h1{
    font-size: 100px ;
    font-weight: 900;
    position: relative;
}
#page1 h1::before{
    content: "Eat. Drink. Play.";
    position: absolute;
    color: rgba(0, 0, 0, 0.747);
    top: -5px;
    left: -5px;
    -webkit-text-stroke: 2px #b3e821;
    z-index: -1;
}
#page1 h2{
    font-size: 30px ;
    font-weight: 800;
    margin: 20px 0px;
}
#page1 p{
    font-size:18px;
    font-weight: 400;
    width: 40%;
}
#page2{
    height: 100vh;
    width: 100%;
    z-index: 10;
}
#cursor{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
    background-color: #b3e821;
}
#cursorblur{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
    background-color: #b2eb151e;
    filter:blur(30px);
    z-index: 9;
}

#scroller{
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    z-index: 10;

}
#scroller h4{
    display: inline-block;
    font-size: 140px;
    font-family: gilroy;
    font-weight: 1000;
    -webkit-text-stroke: 2px #b3e821;
    margin-right: 10px;
    color: transparent;
    transition: all 0.5s linear;
}

#scroller h4:hover{
    color: #b3e821;
}

.scroller-in{
    white-space: nowrap;
    display: inline-block;
    animation: scroll 20s linear infinite;
}
@keyframes scroll{
    from{
        transform : translateX(0);
}
    to{
        transform: translate(-100%);
    }
}
